<!DOCTYPE html>
<html>
<head>
    <title>Chat Room</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
</head>

<body>

<div class="chat-container">

    <!-- Sidebar -->
    <div class="sidebar">

        <h2>💬 ChatPro</h2>

        <div class="user">
            🟢 {{ username }}
        </div>

        <div class="user">
            👥 Online Users: 2
        </div>

        <a href="/logout" class="logout-btn">Logout</a>

    </div>

    <!-- Chat Box -->
    <div class="chat-box">

        <div class="chat-header">
            Real-Time Chat Room
        </div>

        <div class="messages" id="messages">

            <div class="message received">
                <strong>Rahul</strong><br>
                Welcome to ChatPro 🚀
            </div>

            {% for msg in messages %}

            <div class="message received">
                <strong>{{ msg.username }}</strong><br>
                {{ msg.message }}
            </div>

            {% endfor %}

        </div>

        <div class="input-area">

            <input
                type="text"
                id="messageInput"
                placeholder="Type a message..."
            >

            <button onclick="sendMessage()">
                Send
            </button>

        </div>

    </div>

</div>

<script>
const USERNAME = "{{ username }}";
</script>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>